@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.font-viga{
    font-family: "Viga", sans-serif;
    font-size: 33px !important;
    color: white !important;
}


/*//////////////////////////////////////////////// NAVBAR //////////////////////////////////////////////////////////*/

#navbar{
    background-color: #B55639 !important;
}

/* Estilo para a barra lateral */
#sidebar {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    height: 100% !important;
    width: 250px !important;
    background-color: #B55639 !important;
    padding-top: 70px !important; /* Espaçamento para acomodar o cabeçalho */
    overflow-y: auto !important; /* Adiciona scroll caso haja muitos itens */
}

.p-4{
    margin-top: 60px !important;
}

/* Estilo para centralizar os itens da lista */
.list-unstyled {
    padding-left: 0 !important;
    text-align: center !important; /* Centraliza horizontalmente */
    margin-top: 50% !important; /* Alinha no meio da barra lateral */
    transform: translateY(-50%) !important; /* Ajusta para centralizar verticalmente */
}

.list-unstyled li {
    margin-bottom: 10px !important; /* Espaçamento entre os itens da lista */
}

.list-unstyled li a {
    color: #fff !important; /* Cor do texto dos links */
    font-size: 13px !important;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    text-decoration: none !important; /* Remove sublinhado dos links */
    display: block !important; /* Faz os links ocuparem toda a largura disponível */
    padding: 10px 15px !important; /* Espaçamento interno dos links */
}

.list-unstyled li a:hover {
    color: #fff !important; /* Cor de fundo ao passar o mouse */
}

.close {
    color: #fff !important; /* Cor do botão de fechar */
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
    border: none !important;
    font-size: 1.5rem !important;
}

.close:hover {
    color: #fff !important; /* Cor do botão de fechar ao passar o mouse */
    cursor: pointer !important;
}

.close-img{
    margin-right: 36px !important;
    margin-top: 23px !important;
}

/* Estilo para remover bordas e outros efeitos dos botões */
.btn,
.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Estilo para remover efeitos de hover e focus dos botões */
.btn:hover,
.btn:focus,
.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: transparent !important;
    color: inherit !important;
}

@media (min-width: 992px) {
    .navbar .navbar-toggler {
      display: flex !important; /* Oculta o botão padrão em telas maiores */
    }
  }