{% extends "head.html" %}

{% block content %}
    
<br>
    <a href="perfil" class='but'>
        <button type="button">Acesse o seu perfil</button>
    </a>
    
    <p>
        Venha se tornar nosso membro agora e aproveite todos os benefícios exclusivos! 
        Ao se associar, você terá acesso a conteúdos especiais, eventos exclusivos, descontos imperdíveis 
        e muito mais. Não perca essa oportunidade de fazer parte da nossa comunidade. 
        Junte-se a nós e descubra tudo o que podemos oferecer para você!
    </p>

{% endblock content %}